  /* Обнуление стандартных отступов и установка основного шрифта для всей страницы */
  body, html {
    margin: 0; /* Убирает внешние отступы элемента, устанавливая их равными нулю (элемент не будет иметь дополнительного пространства вокруг себя относительно других элементов) */
    padding: 0; /* Убирает внутренние отступы элемента, устанавливая их равными нулю (внутреннее содержимое элемента будет расположено непосредственно у краев элемента, без дополнительного пространства внутри) */
    font-family: 'Courier New', monospace; /* Основной шрифт для текста */
    background-color: #110D0C; /* Цвет фона для всей страницы */
    color: white; /* Основной цвет текста */
    height: 100%; /* Высота элементов body и html равна 100% высоты окна просмотра */
    overflow: auto; /* При необходимости показывать полосы прокрутки */
    font-size: 14px; /* Размер шрифта */
    font-style: italic; /* Курсивное начертание текста */
    text-align: justify; /* Выравнивание текста по ширине */
    text-indent: 2cm; /* Красная строка */
    line-height: 1.5; /* Межстрочный интервал */
  }
  /* Стили для фонового изображения */
  .background {
    background-image: url('1.png'); /* Путь к фоновому изображению */
    height: 100%; /* Высота блока под фон равна 100% */
    background-position: center; /* Расположение фонового изображения */
    background-repeat: no-repeat; /* Фоновое изображение не повторяется */
    background-size: cover; /* Фоновое изображение полностью покрывает блок */
  }
  /* Стили для навигационной панели */
  .navbar {
    text-align: right; /* Выравнивание содержимого навигационной панели по правому краю */
    position: absolute; /* Абсолютное позиционирование */
    top: 20px; /* Отступ сверху */
    width: 100%; /* Ширина навигационной панели */
    z-index: 1; /* Слой отображения, управляет наложением элементов */ /* navbar находится под fish-logo */
  }
  .navbar a { /* Стиль кнопок (ссылок (в навигационной панели)) адаптирован под стиль заголовка */
    font-family: 'Arial', sans-serif; /* Конкретный шрифт */
    font-size: 16px; /* Размер шрифта заголовка */
    text-transform: uppercase; /* Все буквы заглавные */
    color: white; /* Цвет текста, можно адаптировать под ваш дизайн */
    text-decoration: none; /* Убираем подчеркивание */
    background-color: rgba(217, 203, 203, 0.1); /* Фон кнопок */
    padding: 10px 20px; /* Внутренние отступы */
    margin: 0 10px; /* Внешние отступы между кнопками */
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    display: inline-block; /* Для выравнивания и внутренних отступов */
    text-align: right; /* Выравнивание текста по правому краю */
    margin-bottom: 16pt; /* Интервал после кнопки, адаптирован под заголовок */
    text-shadow: 2px 2px 2px #000000; /* Эффект приподнятости для текста кнопки */
  }
  /* Стиль для кнопок (кнопок) в навигационной панели при наведении курсора */
  .navbar a:hover {
    background-color: rgba(246, 246, 248, 0.2); /* Изменение фона при наведении */
  }
  /* Стили для логотипа */
  .fish-logo {
    position: absolute; /* Абсолютное позиционирование */
    top: 20px; /* Отступ сверху */
    left: 30px; /* Отступ слева */
    width: 140px; /* ширина логотипа */
    height: 79px; /* высота ссылки */
    z-index: 2; /* fish-logo будет поверх navbar, делая его кликабельным */
  }
  /* Стили для ссылки внутри контейнера с логотипом */
  .fish-logo a {
    display: block; /* Задаёт блочное отображение ссылке, позволяя ей занимать всю доступную ширину и задавать вертикальные отступы (убираем лишние отступы вокруг ссылки) */
    width: 140px; /* ширина ссылки */
    height: 79px; /* высота ссылки */
  }
  .fish-logo img {
    width: 100%; /* ширина изображения (изображение займет полную ширину элемента) */
    height: auto; /* Высота изображения устанавливается автоматически в соответствии с его пропорциями, предотвращая искажение */
    display: block; /* убираем лишние отступы вокруг изображения (позволяет изображению занимать всю доступную ширину) */
  }
