/* Обнуление стандартных отступов и установка основного шрифта для всей страницы */
body, html {
    margin: 0; /* Убирает внешние отступы элемента, устанавливая их равными нулю (элемент не будет иметь дополнительного пространства вокруг себя относительно других элементов) */
    padding: 0; /* Убирает внутренние отступы элемента, устанавливая их равными нулю (внутреннее содержимое элемента будет расположено непосредственно у краев элемента, без дополнительного пространства внутри) */
    font-family: 'Courier New', monospace; /* Основной шрифт для текста */
    background-color: #110D0C; /* Цвет фона для всей страницы */
    color: white; /* Основной цвет текста */
    height: 100%; /* Высота элементов body и html равна 100% высоты окна просмотра */
    overflow: auto; /* При необходимости показывать полосы прокрутки */
    font-size: 14px; /* Размер шрифта */
    font-style: italic; /* Курсивное начертание текста */
    text-align: justify; /* Выравнивание текста по ширине */
    text-indent: 2cm; /* Красная строка */
    line-height: 1.5; /* Межстрочный интервал */
}
/* Описание стилей для заголовка h1 */
h1 {
    font-family: 'Arial', sans-serif; /* Устанавливает шрифт Arial*/
    font-size: 16px; /* Задает размер шрифта */
    text-transform: uppercase; /* Преобразует текст в верхний регистр */
    font-weight: normal;  /* Устанавливает нормальное начертание шрифта (определяет насыщенность или жирность шрифта) */
    text-align: right; /* Выравнивает текст по правому краю */
    margin: 0; /* Убирает внешние отступы у заголовков h1 */
    padding-top: 16pt; /* Интервал после заголовка (верхний внутренний отступ) */
    page-break-before: always; /* Начинать с новой страницы */
    text-shadow: 2px 2px 2px #000000; /* Добавляет тень к тексту */
}
/* Описание стилей для заголовка h2 */
h2 {
    font-family: 'Times New Roman', serif; /* Устанавливает шрифт Times New Roman */
    font-size: 12px; /* Задает размер шрифта */
    font-weight: bold; /* Применяет жирное начертание к тексту */
    text-transform: uppercase; /* Преобразует текст в верхний регистр */
    text-shadow: 1px 1px 2px black; /* Добавляет тень к тексту */
    text-align: right; /* Выравнивает текст по правому краю */
    margin: 0; /* Убирает внешние отступы у заголовков h2 */
    padding-top: 14pt; /* Интервал после подзаголовка (верхний внутренний отступ) */
    line-height: 20pt; /* Межстрочный интервал */
}
/* Описание стилей параграфов p (основной текст) */
p {
    font-family: 'Courier New', monospace; /* Устанавливает шрифт Courier New */
    font-size: 14px; /* Задает размер шрифта */
    font-style: italic; /* Применяет курсивное начертание к тексту */
    text-align: justify; /* Выравнивает текст по ширине */
    text-indent: 2cm; /* Красная строка */ 
    line-height: 1.5; /* Межстрочный интервал для основного текста */
}
/* Описание стилей для навигационной панели */
.navbar {
    font-family: 'Arial', sans-serif; /* Устанавливает шрифт Arial */
    font-size: 16px; /* Задает размер шрифта */
    text-transform: uppercase; /* Преобразует текст в верхний регистр */
    font-weight: normal; /* Устанавливает нормальное начертание шрифта (определяет насыщенность или жирность шрифта) */
    margin: 0; /* Убирает внешние отступы у навигационной панели */
    padding-top: 16pt; /* Интервал после заголовка (верхний внутренний отступ) */
    page-break-before: always; /* Начинать с новой страницы */
    text-shadow: 2px 2px 2px #000000; /* Добавляет тень к тексту */
    text-align: right; /* Выравнивает текст по правому краю */
    position: absolute; /* Устанавливает абсолютное позиционирование навигационной панели */
    top: 40px; /* Располагает навигационную панель на 40 пикселей от верхнего края */
    left: -45px; /* Сдвигает навигационную панель на 45 пикселей влево от левого края */
    width: 100%; /* Задает ширину навигационной панели равной 100% от исходной ширины */
    z-index: 1; /* Устанавливает z-index (порядковый номер слоя для навигационной панели) (чтобы логотип рыбы был выше (навигационная панель ниже)) */

}
/* Описание стилей для ссылок внутри навигационной панели */
.navbar a { 
    font-family: 'Arial', sans-serif; /* Устанавливает шрифт Arial для текста ссылок */
    font-size: 16px; /* Размер шрифта текста ссылок */
    text-transform: uppercase; /* Преобразует текст ссылок в верхний регистр */
    color: white; /* Задает белый цвет текста ссылок */
    text-decoration: none; /* Убирает подчеркивание текста ссылок */
    background-color: rgba(217, 203, 203, 0.1); /* Задает полупрозрачный фон для кнопок */
    padding: 10px 20px; /* Устанавливает внутренние отступы для кнопок */
    margin: 0 10px; /* Устанавливает внешние отступы между кнопками */
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s; /* Добавляет плавный переход для цвета фона кнопок */
    display: inline-block; /* Для выравнивания и внутренних отступов (делаем ссылку строчно-блочным элементом, что позволяет задать размеры */
) */
    text-align: right; /* Выравнивание текста по правому краю */
    margin-bottom: 16pt; /* Устанавливает нижний внешний отступ (интервал) для кнопок */
    text-shadow: 2px 2px 2px #000000; /* Эффект приподнятости для текста кнопки (добавляет тень к тексту кнопок) */
  }
/* Описание стилей для стилизации ссылок внутри элемента при наведении на них курсора мыши */
.navbar a:hover {
    background-color: rgba(246, 246, 248, 0.2); /* Меняет цвет фона кнопок при наведении курсора */
}
/* Описание стилей для логотипа */
.fish-logo {
    position: absolute; /* Устанавливает абсолютное позиционирование для логотипа */
    top: 20px; /* Располагает логотип на 20 пикселей от верхнего края */
    left: 30px; /* Располагает логотип на 30 пикселей от левого края */
    width: 140px; /* Задает ширину логотипа */
    height: 79px; /* Задает высоту логотипа */
    z-index: 2; /* Устанавливает z-index (порядковый номер слоя для логотипа) (чтобы логотип рыбы был выше (навигационная панель ниже)) */
}
/* Описание стилей для ссылки логотипа */
.fish-logo a {
    display: block; /* Задаёт блочное отображение ссылке, позволяя ей занимать всю доступную ширину и задавать вертикальные отступы (убираем лишние отступы вокруг ссылки) */
    width: 140px; /* Задает ширину ссылки логотипа */
    height: 79px; /* Задает высоту ссылки логотипа */
}
/* Описание стилей для картинки логотипа */
.fish-logo img {
    width: 100%; /* Ширина изображения (изображение займет полную ширину элемента) */
    height: auto; /* Автоматически рассчитывает высоту изображения логотипа, сохраняя пропорции */
    display: block; /* убираем лишние отступы вокруг изображения (позволяет изображению занимать всю доступную ширину) */
}
/* Описание стилей для отображения всех элементов (рыб) */
.gallery {
    display: grid; /* Использует сетку для отображения элементов (рыб) */
    grid-template-columns: repeat(3, 1fr); /* Создает три колонки с равным распределением пространства */
    gap: 20px; /* Задает расстояние между элементами сетки */
    padding: 150px 30px 30px; /* Устанавливает внутренние отступы для отображения */
}
/* Описание стилей для отображения каждого элемента (отдельной рыбы) */
.gallery-item {
    background: rgba(0, 0, 0, 0.5); /* Задает полупрозрачный черный фон для элемента (отдельной рыбы) */
    border: 2px solid #fff; /* Создает белую рамку вокруг элемента (отдельной рыбы) */
    border-radius: 10px; /* Скругляет углы элемента (отдельной рыбы) */
    overflow: hidden; /* Скрывает часть содержимого, выходящую за рамки элемента (отдельной рыбы) */
    transition: transform 0.3s ease-in-out; /* Добавляет плавный эффект трансформации при наведении */
    max-width: 300px; /* Задает максимальную ширину элемента (отдельной рыбы) */
    max-height: 200px; /* Задает максимальную высоту элемента (отдельной рыбы) */
    margin: auto; /* Выравнивает элементы по центру */
}
/* Описание стилей для отображения каждого элемента (отдельной рыбы) при наведении курсора мыши */
.gallery-item:hover {
    transform: scale(1.03); /* Увеличивает размер элемента галереи при наведении курсора */
}
/* Описание стилей для картинки каждого элемента (отдельной рыбы) */
.gallery-item img {
    width: 100%; /* Ширина изображения (изображение займет полную ширину элемента) */
    height: auto; /* Автоматически рассчитывает высоту элемента (отдельной рыбы), сохраняя пропорции */
    display: block; /* убираем лишние отступы вокруг изображения (позволяет изображению занимать всю доступную ширину) */
}
/* Описание стилей для текста каждого элемента (отдельной рыбы) */
.gallery-item p {
    color: white; /* Задает белый цвет текста для параграфов p (основной текст) для каждого элемента (отдельной рыбы) */
    margin: 10px 0; /* Устанавливает внешние отступы сверху и снизу для параграфов p (основной текст) (чтобы рамка не закрывала текст) */
}
