/* Обнуление стандартных отступов и установка основного шрифта для всей страницы */
body, html {
    margin: 0; /* Убирает внешние отступы элемента, устанавливая их равными нулю (элемент не будет иметь дополнительного пространства вокруг себя относительно других элементов) */
    padding: 0; /* Убирает внутренние отступы элемента, устанавливая их равными нулю (внутреннее содержимое элемента будет расположено непосредственно у краев элемента, без дополнительного пространства внутри) */
    font-family: 'Courier New', monospace; /* Основной шрифт для текста */
    background-color: #110D0C; /* Цвет фона для всей страницы */
    color: white; /* Основной цвет текста */
    height: 100%; /* Высота элементов body и html равна 100% высоты окна просмотра */
    overflow: auto; /* При необходимости показывать полосы прокрутки */
    font-size: 14px; /* Размер шрифта */
    font-style: italic; /* Курсивное начертание текста */
    text-align: justify; /* Выравнивание текста по ширине */
    text-indent: 2cm; /* Красная строка */
    line-height: 1.5; /* Межстрочный интервал */
}
/* Описание стилей шапки сайта */
.header {
    position: relative; /* Для позиционирования кнопки относительно этого блока */
    background-color: transparent; /* Делает фон блока прозрачным */
}
/* Описание стилей для кнопки */
.map-button {
    font-family: 'Arial', sans-serif; /* Задает шрифт Arial */
    font-size: 16px; /* Размер шрифта 16px */
    text-transform: uppercase; /* Преобразует текст в верхний регистр */
    color: white; /* Цвет текста белый */
    text-decoration: none; /* Убирает подчеркивание текста */
    background-color: rgba(0, 0, 0, 0.7); /* Цвет фона кнопки */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Скругляем углы */
    transition: background-color 0.3s; /* Эффект плавного изменения цвета фона */
    display: inline-block; /* Делаем кнопку строчно-блочным элементом, что позволяет задать размеры */
    text-align: right; /* Выравнивание текста по правому краю */
    position: absolute; /* Абсолютное позиционирование */
    right: 30px; /* Позиционирует кнопку на 30 пикселей от правого края */
    top: 30px; /* Позиционирует кнопку на 30 пикселей от верхнего края */
    z-index: 2; /* Устанавливает z-index, чтобы кнопка была над другими элементами */
    margin-bottom: 16pt; /* Интервал после кнопки 16pt (нижний отступ кнопки) */
    text-shadow: 2px 2px 2px #000000; /* Тень текста для эффекта приподнятости (эффект глубины) */
}
/* Модифицирование стилей кнопки при наведении курсора */
.map-button:hover {
    background-color: rgba(0, 0, 0, 0.85); /* Изменяет цвет фона кнопки при наведении курсора */
}
/* Описание стилей контейнера (карты) */
.map-container {
    position: relative; /* Устанавливает относительное позиционирование для контейнера карты */
    text-indent: 0; /* Сбрасывает красную строку */
}
/* Описание стилей для изображений внутри .map-container (для карты) */
.map-container img {
    width: 100%; /* Ширина изображения (изображение займет полную ширину элемента) */
    height: auto; /* Автоматически рассчитывает высоту, сохраняя пропорции изображения */
    text-align: left; /* Сбрасываем выравнивание текста (Выравнивает содержимое внутри контейнера по левому краю) */
    text-indent: 0; /* Сбрасываем красную строку (для содержимого внутри контейнера) */
}
/* Стили для подсветки области ссылки (чтобы было удобно раставлять ссылки на карте)
.map-container area {
    outline: 100px solid red; /* Красная обводка 
} */