/* Обнуление стандартных отступов и установка основного шрифта для всей страницы */
body, html {
    margin: 0; /* Убирает внешние отступы элемента, устанавливая их равными нулю (элемент не будет иметь дополнительного пространства вокруг себя относительно других элементов) */
    padding: 0; /* Убирает внутренние отступы элемента, устанавливая их равными нулю (внутреннее содержимое элемента будет расположено непосредственно у краев элемента, без дополнительного пространства внутри) */
    font-family: 'Courier New', monospace; /* Основной шрифт для текста */
    background-color: #110D0C; /* Цвет фона для всей страницы */
    color: white; /* Основной цвет текста */
    height: 100%; /* Высота элементов body и html равна 100% высоты окна просмотра */
    overflow: auto; /* При необходимости показывать полосы прокрутки */
    font-size: 14px; /* Размер шрифта */
    font-style: italic; /* Курсивное начертание текста */
    text-align: justify; /* Выравнивание текста по ширине */
    text-indent: 2cm; /* Красная строка */
    line-height: 1.5; /* Межстрочный интервал */
}
/* Описание стилей для логотипа */
.fish-logo {
    position: absolute; /* Устанавливает абсолютное позиционирование для логотипа */
    text-indent: 0cm; /* Красная строка */
    top: 20px; /* Располагает логотип на 20 пикселей от верхнего края */
    left: 30px; /* Располагает логотип на 30 пикселей от левого края */
    z-index: 2; /* Устанавливает z-index (порядковый номер слоя для логотипа) (чтобы логотип рыбы был выше (кнопка ниже по слою)) */
}
/* Описание стилей для ссылки и изображения */
.fish-logo a img {
    width: 140px; /* Задает ширину изображения логотипа */
    height: 79px; /* Задает высоту изображения логотипа */
}
/* Описание стилей для кнопки */
.navbar {
    position: absolute; /* Устанавливает абсолютное позиционирование кнопки */
    right: 40px; /* Располагает кнопку на 40 пикселей от правого края контейнера */
    top: 35px; /* Располагает кнопку на 35 пикселей от верхнего края контейнера */
    z-index: 1; /* Устанавливает z-index (порядковый номер слоя для логотипа) (чтобы логотип рыбы был выше (кнопка ниже по слою)) */
}
/* Описание стилей для ссылки кнопки */
.navbar a { /* Стиль кнопки адаптирован под стиль заголовка */
    font-family: 'Arial', sans-serif; /* Устанавливает шрифт Arial */
    font-size: 16px; /* Размер шрифта */
    text-transform: uppercase; /* Все буквы заглавные */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    background-color: rgba(217, 203, 203, 0.1); /* Задает полупрозрачный фон для кнопки */
    padding: 10px 20px; /* Устанавливает внутренние отступы для кнопки */
    margin: 0; /* Убирает внешние отступы элемента, устанавливая их равными нулю (элемент не будет иметь дополнительного пространства вокруг себя относительно других элементов) */
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    display: inline-block; /* Для выравнивания и внутренних отступов (делаем ссылку строчно-блочным элементом, что позволяет задать размеры */
    text-align: right; /* Выравнивание текста по правому краю */
    margin-bottom: 16pt; /* Устанавливает нижний внешний отступ (интервал) для кнопки */
    text-shadow: 2px 2px 2px #000000; /* Эффект приподнятости для текста кнопки (добавляет тень к тексту кнопок) */
}
/* Описание стилей для стилизации ссылок внутри элемента при наведении на них курсора мыши */
.navbar a:hover {
    background-color: rgba(246, 246, 248, 0.2); /* Меняет цвет фона кнопки при наведении курсора */
}
/* Описание стилей для контейнера */
.container {
    padding: 100px 15px 20px 20px; /* Задает внутренние отступы контейнера: 100px сверху, 15px справа, 20px снизу и 20px слева */
}

/*Стили*/
/* Описание стилей для заголовка h1 */
h1.section-title {
    font-family: 'Arial', sans-serif; /* Устанавливает шрифт Arial*/
    font-size: 16px; /* Задает размер шрифта */
    text-transform: uppercase; /* Преобразует текст в верхний регистр */
    font-weight: normal; /* Устанавливает нормальное начертание шрифта (определяет насыщенность или жирность шрифта) */
    text-align: right; /* Выравнивает текст по правому краю */
    margin: 0; /* Убирает внешние отступы у заголовков h1 */
    padding-top: 16pt; /* Интервал после заголовка (верхний внутренний отступ) */
    page-break-before: always; /* Начинать с новой страницы */
    text-shadow: 2px 2px 2px #000000; /* Добавляет тень к тексту */
}
/* Описание стилей для заголовка h2 */
h2.section-title {
    font-family: 'Times New Roman', serif; /* Устанавливает шрифт Times New Roman */
    font-size: 12px; /* Задает размер шрифта */
    font-weight: bold; /* Применяет жирное начертание к тексту */
    text-transform: uppercase; /* Преобразует текст в верхний регистр */
    text-shadow: 1px 1px 2px black; /* Добавляет тень к тексту */
    text-align: right; /* Выравнивает текст по правому краю */
    margin: 0; /* Убирает внешние отступы у заголовков h2 */
    padding-top: 14pt; /* Интервал после подзаголовка (верхний внутренний отступ) */
    line-height: 20pt; /* Межстрочный интервал */
}
/* Описание стилей параграфов p (основной текст) */
p.text-content {
    font-family: 'Courier New', monospace; /* Устанавливает шрифт Courier New для основного текста */
    font-size: 14px; /* Задает размер шрифта */
    font-style: italic; /* Применяет курсивное начертание к тексту */
    text-align: justify; /* Выравнивает текст по ширине */
    text-indent: 2cm; /* Красная строка */
    line-height: 1.5; /* Межстрочный интервал для основного текста */
}
